*{
    background-color: #fff1e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagen{
    display: block;
    margin: auto;
}

header{
    background-color: #fff1e9;
}

h1{
    margin-left: 10px;
    color: brown;
    text-align: center;
}

.login{
    text-align: center;
    padding-top: 40px ;
}